* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(45deg, #e66465, #9198e5);
    height: 100vh;
    width: 100%;
}
body {
    width: 70%;
    margin: auto;
    padding: 100px;
}
h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
}
form {
    width: 300px;
    height: 200px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px 0 20px 50px;
    box-sizing: content-box;
}
label {
    font-weight: bold;
    font-size: 18px;
}
input {
    margin: 5px 0 20px;
    padding: 10px;
    width: 250px;
    outline: none;
    height: 30px;
    border-radius: 5px;
    border: none;
}
.password {
    position: relative;
}
.password i {
    position: absolute;
    display: block;
    /* z-index: 999; */
    top: 32px;
    right: 60px;
    cursor: pointer;
}
button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: #a19696;
}
.disable {
    display: none;
}